@use "./variables.scss" as *;

// put your custom CSS here!

svg.typst-doc {
  font-size: 110% !important;
}

li {
  // line-height: 1rem;
}

img {
  display: block;
  margin: 0 auto !important;
}

// :root[saved-theme=dark] {
//   --light: #0c0c0c;
// }
